<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0" name="viewport">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="headerInside container">
        <div class="logo">
            BRAN<span>D</span>
        </div>
        <div class="searchWrap">
            <div class="searchBrowse">
                Browse <i class="fas fa-caret-down"></i>
            </div>
            <input type="text">
            <button><i class="fas fa-search"></i></button>
        </div>
        <a href="cart.html"><img alt="" class="headerCart" src="images/cart.png"></a>
        <button class="accountBtn">My Account <i class="fas fa-caret-down"></i></button>
    </div>
</header>
<nav class="topNav">
    <a href="">HOME</a>
    <a href="">MAN</a>
    <a href="">WOMEN</a>
    <a href="">KIDS</a>
    <a href="">ACCOSERIESE</a>
    <a href="">FEATURED</a>
    <a href="">HOT DEALS</a>
</nav>
<div class="new">
    <div class="newContainer">
        <h2 class="newContainerHeader">New Arrivals</h2>
        <div class="newContainerMenu">
            Home / Men / <span>New Arrivals</span>
        </div>
    </div>
</div>
<main>
    <div class="container productWrap">
        <div class="row">
            <div class="col-md-3 productAccordion">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link"
                                        data-target="#collapseOne" data-toggle="collapse" type="button">Category
                                </button>
                                <i class="fas fa-caret-down"></i></h5>
                        </div>
                        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample"
                             id="collapseOne">
                            <div class="card-body">
                                Accessories<br>
                                Bags<br>
                                Denim<br>
                                Hoodies & Sweatshirts<br>
                                Jackets & Coats<br>
                                Pants<br>
                                Polos<br>
                                Shirts<br>
                                Shoes<br>
                                Shorts<br>
                                Sweaters & Knits<br>
                                T-Shirts<br>
                                Tanks<br>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed"
                                        data-target="#collapseTwo" data-toggle="collapse" type="button">BRAND
                                </button>
                                <i class="fas fa-caret-down"></i></h5>
                        </div>
                        <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample"
                             id="collapseTwo">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button aria-controls="collapseThree" aria-expanded="false"
                                        class="btn btn-link collapsed"
                                        data-target="#collapseThree" data-toggle="collapse" type="button">dESIGNER
                                </button>
                                <i class="fas fa-caret-down"></i></h5>
                        </div>
                        <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample"
                             id="collapseThree">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row productSize">
                    <div class="col-sm">
                        <h2 class="productSizeHead">Trending now</h2>
                        <span class="productSizeVariables">
                                <span class="productSizeSlash">Bohemian</span>
                                <span class="productSizeSlash">Floral</span>
                                <span class="productSizeSlash">Lace Floral</span>
                                <span class="productSizeSlash">Lace</span>
                                <span class="productSizeSlash">Bohemian</span>
                            </span>
                    </div>

             

                    <div class="col-sm">
                        <h2 class="productSizeHead">Size</h2>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">XXS</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inlineCheckbox2" type="checkbox" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">XS</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inlineCheckbox3" type="checkbox" value="option2">
                            <label class="form-check-label" for="inlineCheckbox3">S</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inlineCheckbox4" type="checkbox" value="option2">
                            <label class="form-check-label" for="inlineCheckbox4">M</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inlineCheckbox5" type="checkbox" value="option2">
                            <label class="form-check-label" for="inlineCheckbox5">L</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inlineCheckbox6" type="checkbox" value="option2">
                            <label class="form-check-label" for="inlineCheckbox6">XL</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="inlineCheckbox7" type="checkbox" value="option2">
                            <label class="form-check-label" for="inlineCheckbox7">XXL</label>
                        </div>
                    </div>
                    <div class="col-sm">
                        <h2 class="productSizeHead">pRICE</h2>
                        <input type="range" class="custom-range" id="customRange1">
                        <div class="productSizePrice">
                            <div>$52</div>
                            <div>$400</div>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light productNavbar">
                    <div class="productSort">
                        <div>Sort By</div>
                        <div>Name <i class="fas fa-caret-down"></i></div>
                    </div>
                    <div class="productSort">
                        <div>Show</div>
                        <div>09 <i class="fas fa-caret-down"></i></div>
                    </div>
                </nav>
                <div id="app">
                <div class="row feturedElements goods" v-if="filteredItems.length">
                    <div class="col-md-4 product" v-for="item in filteredItems">
                        <div class="feturedImg" v-bind:class="[item.cover]">
                            <div class="feturedCart">
                                <button id="button" @click="handleBuyClick(item)" class="accountBtn feturedAddtoCart"><img alt="" src="images/cart_white.png">
                                    <span>Add to Cart</span></button>
                            </div>
                        </div>
                        <div class="feturedItemTitle">
                            {{item.name}}
                        </div>
                        <div class="feturedItemPrice">
                            ${{item.price}}
                        </div>
                    </div>
                    
                    <!-- <div class="col-md-4 product">
                        <div class="feturedImg feturedFotoProduct2">
                            <div class="feturedCart">
                                <button class="accountBtn feturedAddtoCart"><img alt="" src="images/cart_white.png">
                                    <span>Add to Cart</span></button>
                            </div>
                        </div>
                        <div class="feturedItemTitle">
                            Mango People T-shirt
                        </div>
                        <div class="feturedItemPrice">
                            $52.00
                        </div>
                    </div>
                    <div class="col-md-4 product">
                        <div class="feturedImg feturedFotoProduct3">
                            <div class="feturedCart">
                                <button class="accountBtn feturedAddtoCart"><img alt="" src="images/cart_white.png">
                                    <span>Add to Cart</span></button>
                            </div>
                        </div>
                        <div class="feturedItemTitle">
                            Mango People T-shirt
                        </div>
                        <div class="feturedItemPrice">
                            $52.00
                        </div>
                    </div>
                    <div class="col-md-4 product">
                        <div class="feturedImg feturedFotoProduct4">
                            <div class="feturedCart">
                                <button class="accountBtn feturedAddtoCart"><img alt="" src="images/cart_white.png">
                                    <span>Add to Cart</span></button>
                            </div>
                        </div>
                        <div class="feturedItemTitle">
                            Mango People T-shirt
                        </div>
                        <div class="feturedItemPrice">
                            $52.00
                        </div>
                    </div>
                    <div class="col-md-4 product">
                        <div class="feturedImg feturedFotoProduct5">
                            <div class="feturedCart">
                                <button class="accountBtn feturedAddtoCart"><img alt="" src="images/cart_white.png">
                                    <span>Add to Cart</span></button>
                            </div>
                        </div>
                        <div class="feturedItemTitle">
                            Mango People T-shirt
                        </div>
                        <div class="feturedItemPrice">
                            $52.00
                        </div>
                    </div>
                    <div class="col-md-4 product">
                        <div class="feturedImg feturedFotoProduct6">
                            <div class="feturedCart">
                                <button class="accountBtn feturedAddtoCart"><img alt="" src="images/cart_white.png">
                                    <span>Add to Cart</span></button>
                            </div>
                        </div>
                        <div class="feturedItemTitle">
                            Mango People T-shirt
                        </div>
                        <div class="feturedItemPrice">
                            $52.00
                        </div>
                    </div>
                    <div class="col-md-4 product">
                        <div class="feturedImg feturedFotoProduct7">
                            <div class="feturedCart">
                                <button class="accountBtn feturedAddtoCart"><img alt="" src="images/cart_white.png">
                                    <span>Add to Cart</span></button>
                            </div>
                        </div>
                        <div class="feturedItemTitle">
                            Mango People T-shirt
                        </div>
                        <div class="feturedItemPrice">
                            $52.00
                        </div>
                    </div>
                    <div class="col-md-4 product">
                        <div class="feturedImg feturedFotoProduct8">
                            <div class="feturedCart">
                                <button class="accountBtn feturedAddtoCart"><img alt="" src="images/cart_white.png">
                                    <span>Add to Cart</span></button>
                            </div>
                        </div>
                        <div class="feturedItemTitle">
                            Mango People T-shirt
                        </div>
                        <div class="feturedItemPrice">
                            $52.00
                        </div>
                    </div>
                    <div class="col-md-4 product">
                        <div class="feturedImg feturedFotoProduct9">
                            <div class="feturedCart">
                                <button class="accountBtn feturedAddtoCart"><img alt="" src="images/cart_white.png">
                                    <span>Add to Cart</span></button>
                            </div>
                        </div>
                        <div class="feturedItemTitle">
                            Mango People T-shirt
                        </div>
                        <div class="feturedItemPrice">
                            $52.00
                        </div>
                    </div> -->
                </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col productNavigation">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a aria-label="Previous" class="page-link" href="#"><span aria-hidden="true"><img
                                            src="images/arrowsredleft.png" alt=""></span>
                                        <span class="sr-only">Previous</span></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">5</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">6.....20</a>
                                </li>
                                <li class="page-item">
                                    <a aria-label="Next" class="page-link" href="#"><span aria-hidden="true"><img
                                            src="images/arrowsredright.png" alt=""></span>
                                        <span class="sr-only">Next</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col">
                        <button class="productBtn">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="productDelivery">
        <div class="row">
            <div class="col">
                <img src="images/freedelivery.png" alt="">
                <h2>Free Delivery</h2>
                <div>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                    models.
                </div>
            </div>
            <div class="col">
                <img src="images/sales.png" alt="">
                <h2>Free Delivery</h2>
                <div>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                    models.
                </div>
            </div>
            <div class="col">
                <img src="images/qualityassurance.png" alt="">
                <h2>Free Delivery</h2>
                <div>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                    models.
                </div>
            </div>
        </div>
    </div>
    <div class="subscribeWrap">
        <div class="subscribe">
            <div class="reviews">
                <div class="reviewsUnit">
                    <div class="reviewsUnitLeft"><img alt="" src="images/reviewsunitleft.png"></div>
                    <div class="reviewsUnitRight">
                        <blockquote>
                            "Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum
                            a. Aliquam condimentum mattis neque sed pretium"
                        </blockquote>
                        <div class="reviewsName">
                            Bin Burhan
                        </div>
                        <div class="reviewsFrom">
                            Dhaka, Bd
                        </div>
                        <div class="reviewsSwitch">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subscribeDivider"></div>
            <div class="subscribeRight">
                <div class="subscribeRightHead">
                    Subscribe
                </div>
                <div class="subscribeRightHeadText">
                    FOR OUR NEWLETTER AND PROMOTION
                </div>
                <form action="" class="subscribeForm">
                    <input placeholder="Enter Your Email" type="text">
                    <button>Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footerbrand">
        <div class="logo">
            BRAN<span>D</span>
        </div>
        <div class="footerbrandText1">
            Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate
            multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of
            processes and cross-unit partnerships.
        </div>
        <div class="footerbrandText2">
            Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize spanerior
            initiatives for wireless technologies. Dynamically optimize.
        </div>
    </div>
    <div class="footerAdaptive">
        <div class="footerColumn">
            <h2>COMPANY</h2><a href="">Home</a> <a href="">Shop</a> <a href="">About</a> <a href="">How It Works</a>
            <a href="">Contact</a>
        </div>
        <div class="footerColumn">
            <h2>INFORMATION</h2><a href="">Tearms & Condition</a> <a href="">Privacy Policy</a> <a href="">How to
            Buy</a> <a href="">How to Sell</a> <a href="">Promotion</a>
        </div>
        <div class="footerColumn">
            <h2>SHOP CATEGORY</h2><a href="">Men</a> <a href="">Women</a> <a href="">Child</a> <a href="">Apparel</a>
            <a href="">Brows All</a>
        </div>
    </div>
</footer>
<div class="copyrights">
    <div class="copyrightsWrap">
        <div class="copyrightsLeft">
            © 2019 Brand All Rights Reserved.
        </div>
        <div class="copyrightsRight">
            <a href=""><i class="fab fa-facebook-f"></i></a> <a href=""><i class="fab fa-twitter"></i></a> <a href=""><i
                class="fab fa-linkedin-in"></i></a> <a href=""><i class="fab fa-pinterest-p"></i></a> <a href=""><i
                class="fab fa-google-plus-g"></i></a>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
</script>
<script crossorigin="anonymous" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js">
</script>
<script crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="app.js"></script>
</body>
</html>